@page "/login"
@layout LoginLayout

<h3>Login</h3>

<MudTextField @bind-Value="teste" Label="Informe seu usuario e senha: " Variant="Variant.Outlined">

@code {
    public void teste()
    {
        
    }
}
